<div class="row" *ngIf="dataLength>0">
    <div class="col-md-12">
        <ul class="pagination pagination-sm pull-right push-down-10 push-up-10">
            <li [ngClass]="{'disabled' : !hasPrev}" (click)="onSelectPrev()"><a>«</a></li>
            <li [ngClass]="{'active': currentActivePage == (item)}"
                *ngFor="let item of pageCountArray; let i = index;">
                <a (click)="onSelectPage(item)">{{item }}</a>
            </li>
            <li [ngClass]="{'disabled' : !hasNext}" (click)="onSelectNext()"><a>»</a></li>
        </ul>
    </div>
</div>
